
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
}

.section {
  padding: 30px 60px; 
}

.section-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: #b20000;
  font-weight: bold;
}


.navbar {
  padding: 10px 60px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  float: left;
  color: #b20000;
  font-weight: bold;
  font-size: 22px;
}

.navbar ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}


.header {
  margin-top: 80px;
}

.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.7);
  font-weight: bold;
}


.pag2 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.pag2 .section-title {
  margin-bottom: 40px;
}

.pag2-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.pag2 .item {
  width: calc(33.33% - 40px);
  max-width: 350px;
  text-align: center;
}

.pag2 img {
  width: 100%;
  border-radius: 15px;
}

.pag2 p {
  text-align: justify;
  margin-top: 10px;
}



.pag3 {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.pag3 .item {
  display: inline-block;
  width: 30%;
  margin: 0 1.5%;
  vertical-align: top;
}

.pag3 img {
  width: 110%;
  height: auto;
  border-radius: 80px;
}

.Texto-final {
  max-width: 850px;
  margin: 20px auto;
  line-height: 1.6;
  font-size: 17px;
  text-align: justify;
  clear: both;
}


.footer {
  background: #222;
  padding: 25px;
  text-align: center;
  color: white;
  margin-top: 60px;
}

.social a {
  margin: 0 10px;
  color: #ffdddd;
  text-decoration: none;
}

.social a:hover {
  color: white;
}

@media (max-width: 1024px) {
  .pag2 .item {
    width: calc(50% - 40px); 
  }
}


@media (max-width: 768px) {
  .pag2 .item {
    width: 100%; 
  }
}
